﻿.typeBarreProduit{
    display:block;
    width:80%;
    margin-left:120px;
    border:2px solid;
    margin-top:1px;
    height:30px;
}

.title{
    text-align:center;
    display:block;
    width:100%
}

.typeProduit{
    border:1px solid;
    display:inline-flex;
    width:24%;
    height:100%;
    text-align:center;
}

.lienPanier{
    text-align:right;
}

/*Css du main*/

.mainid{
     
    height:700px;
    width:80%;
    margin-left:120px;
    margin-top:30px; 
    border:2px solid;
    background-color:lightgrey;
}


/*Css des titres du main*/

.titre{

    display:inline-flex;
        width:100%;
    
}

.titreProduits{
            width:20%;
            background-color:chocolate;
            border:2px solid black;
            text-align:center;
            color:white;

}
.titrePhotos{
            width:20%;
            background-color:chocolate;
            border:2px solid;
            text-align:center;
            color:white;
}
.titreDescriptifs{
            width:20%;
            background-color:chocolate;
            border:2px solid black;
            text-align:center;
            color:white;
}
.titrePrix{
            width:20%;
            background-color:chocolate;
            border:2px solid;
            text-align:center;
            color:white;
}
.titrePanier{
            width:20%;
            background-color:chocolate;
            border:2px solid black;
           
}


/*Css des données*/

.données{
    display:inline-flex;
    width:100%;
    margin:0px;
    padding:0px;
}
.produits{
    height:50px;
    width:20%;
    border:1px solid black;
}

.photos{
    height:50px;
    width:20%;
    border:1px solid black;
}

.descriptifs{
    height:50px;
    width:20%;
    border:1px solid black;
}
.prix{
    height:50px;
    width:20%;
    border:1px solid black;
}
.panier{
    height:50px;
    width:20%;
    border:1px solid black;
}