﻿.pageFormulaire {
    background-image: url('images/pralines.jpg');
    opacity:1;
    background-size:cover;
}

.formulaire{
    opacity:1;
}

.colonne1{
    text-align:right;
    color:blueviolet;
}

.colonne2{

}